mixin main-nav(data)
  .main-nav
    .main-nav__wrapper
      .main-nav__top
        div.main-nav__logo
          img(src="%=static=%/img/general/logo.png", width="18", height="28")
        div.main-nav__contacts
          p.main-nav__name Ростелеком
          a(href="tel:+78126271430").main-nav__tel +7 (812) 627-14-30
        button.main-nav__toggle
          span.main-nav__burger
            span
          span.main-nav__toggletext
            | Меню
      div.main-nav__overlay
        ul.main-menu
          li
            a(href='#').acc-btn.acc-btn--internet.main-menu__link
              span.acc-btn__text Интернет
          li
            a(href='#').acc-btn.acc-btn--packages.main-menu__link.main-menu__link--active
              span.acc-btn__text Пакеты услуг
          li
            a(href='#').acc-btn.acc-btn--tv.main-menu__link
              span.acc-btn__text Телевидение
          li
            a(href='#').acc-btn.acc-btn--tel.main-menu__link
              span.acc-btn__text Телефония
        .main-nav__footer
          a(href="tel:+78126271430").main-nav__callbacktel +7 (812) 627-14-30
          button.main-nav__callbackbtn.btn.btn--orange Обратный звонок
        a(href="#").main-menu__close Закрыть
