mixin footer(data)
  footer.page-footer
    .page-footer__top
      dl.page-footer__contacts
        dt.page-footer__contact Офис
        dd.page-footer__text г. Санкт-Петербург <br> ул. Синопская набережная, 14
        dt.page-footer__contact Техническая поддержка
        dd.page-footer__text
          a(href="tel:88001000800") 8 (800) 100-08-00
    .page-footer__bottom
      p.page-footer__copy &copy; 2017. Cайт не является средством массовой информации и действует на основании партнерского договора с ПАО «Ростелеком».




