include ../eqt-item/eqt-item.pug
include ../channel/channel.pug
include ../check-form/check-form.pug
mixin popup(type)
  if type === "tarif"
    .popup__wrapper.popup__wrapper--tarif
      .popup.popup--tarif
        .popup__header.popup__header--action
          h3.popup__title Домашний Интернет 25 Мбит/с (Docsis)
        .popup__content
          .r-tabs
            input(type="radio" class="r-tabs__rinput" name="tarif-tabs" id="tab-more" checked)
            input(type="radio" class="r-tabs__rinput" name="tarif-tabs" id="tab-channels")
            input(type="radio" class="r-tabs__rinput" name="tarif-tabs" id="tab-equipment")
            .r-tabs__controls
              label(for="tab-more").r-tabs__control.r-tabs__control--more
                span Подробнее
              label(for="tab-channels").r-tabs__control.r-tabs__control--channels
                span ТВ каналы
              label(for="tab-equipment").r-tabs__control.r-tabs__control--equipment
                span Оборудование
            .r-tabs__content
              .r-tab.r-tab--1
                section.r-tab__more
                  p.tarif__text Тариф для новых и действующих абонентов. <br> Wi-Fi роутер продажа 1300 рублей / рассрочка на 24 месяца - 70 руб/мес. Подключение и настройка Wi-fi роутера клиента бесплатно. <br> Подключение БЕСПЛАТНОЕ по технологии DOCSIS с помощью коаксиального кабеля, при этом сохраняется высокая скорость передачи данных и быстрая загрузка файлов.
                  ul.tarif__chars
                    li.tarif__char
                        != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'tarif__icon', iconWidth: '21', iconHeight: '25'})
                        span Мобильный интернет
                    li.tarif__char
                        != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'tarif__icon', iconWidth: '21', iconHeight: '25'})
                        span Скорость: 25 мбит/сек.
                    li.tarif__char
                        != pugHelpers.Icon.call(locals, {iconName: 'television', className: 'tarif__icon tarif__icon--tel', iconWidth: '25', iconHeight: '25'})
                        span Каналов: 108 шт.
                  .tarif__footer
                    .tarif__price
                        strong.tarif__pricenumber 850 Р/мес.
              .r-tab.r-tab--2
                section.channels
                  .channels__wrapper
                    .channels__row
                      - var i = 0
                      - var j = 0
                      while i < 3
                        - i++
                        - j = 0
                        .channels__col
                          while j<10
                            - j++
                            +channel()
                    .channels__shadow
              .r-tab.r-tab--3
                section.eqt
                  - var k = 0
                  while k < 3
                    - k++
                    +eqt-item()
        .popup__footer
          button.popup__turnonbtn.btn.btn--orange Подключить тариф
        a.popup__close(href='#') Закрыть
  else if type === "call"
    .popup__wrapper.popup__wrapper--call
      .popup.popup--call
        .popup__heading Заказать обратный звонок
        form.p-form
          .p-form__field
            input(type="text", id="call-name" placeholder="Ваше имя")
          .p-form__field
            input(type="tel", id="call-tel" placeholder="Ваше телефон")
          .p-form__check
            input(type="checkbox" name="agreement" id="agreement")
            label(for="agreement")
              | Подтверждаю свое согласие с &nbsp;
              a(href="#") условиями
              | &nbsp; передачи данных
          .p-form__submit
            button(type="submit").btn.btn--blue Заказать звонок
        a.popup__close(href='#') Закрыть
  else if type === "turnon"
    .popup__wrapper.popup__wrapper--turnon
      .popup.popup--turnon
        .popup__welcome
          span.popup__welcometext Подключение тарифа:
          span.popup__welcometarif Два Интернета" 25 + скидка 50% за мобильную связь (Docsis)
        form.p-form
          .p-form__field
            input(type="text", id="turnon-name" placeholder="Ваше имя")
          .p-form__field
            input(type="tel", id="turnon-tel" placeholder="Ваше телефон")
          .p-form__check
            input(type="checkbox" name="agreement" id="agreement")
            label(for="agreement")
              | Подтверждаю свое согласие с &nbsp;
              a(href="#") условиями
              | &nbsp; передачи данных
          .p-form__submit
            button(type="submit").btn.btn--blue Подключить
        a.popup__close(href='#') Закрыть
  else if type === "thanks"
    .popup__wrapper.popup__wrapper--thanks
      .popup.popup--thanks
        .popup__twrapper
          .popup__ticon
          .popup__tcontent
            h3.popup__theading Спасибо за заявку
            p.popup__ttext Скоро с Вами свяжется наш менеджер
        a.popup__close(href='#') Закрыть
  else if type === "step1"
    .popup__wrapper.popup__wrapper--step1
      .popup.popup--step1
        .popup__heading Проверить возможность <br> подключения
        +check-form()
        a.popup__close(href='#') Закрыть
  else if type === "step2"
    .popup__wrapper.popup__wrapper--step2
      .popup.popup--step2
        .popup__step2wrapper
          .popup__ticon
          .popup__tcontent.popup__tcontent--st2
            p.popup__ttext Ваш дом подключен, можете выбрать любой тариф.
          button.popup__tbtn.btn.btn--orange Подключиться
        a.popup__close(href='#') Закрыть