mixin eqt-item(data)
  article.eqt-item
    .eqt-item__img
      img(src="http://via.placeholder.com/100x100" alt="картинка оборудования")
    .eqt-item__text
      p Точную цифру назвать невозможно, так как это всегда разное количество слов. Также стоит подметить что пробелы тоже считаются как символ, я взял примерно написал текст и посчитал, сколько в нем.